

/* Diseño base (Mobile First) */

#listado {

    list-style:none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    color: #333;
}


#contenedor-principal {
    padding: 10px;
}

#encabezado {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

.titulo-seccion {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.tarjeta-producto {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: 0.5s;
}
.tarjeta-producto:hover{
box-shadow: 3px 3px 3px rgba(7, 7, 7, 0.212);
}


.tarjeta-nombre {
    font-weight: bold;
    font-size: 16px;
}

.tarjeta-precio {
    color: #27ae60;
    margin-top: 5px;
}

/* Clase para interactividad JS */
.producto-seleccionado {
    border-left: 5px solid #3498db;
    background-color: #ebf5fb;
}

#seccion-formulario {
    background-color: #e8ecef;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #contenido {
        display: flex;
        padding: .5rem;
        column-gap: 2rem;
    }

    #seccion-listado {
        width: 60%;
    }

    #seccion-formulario {
        width: 30%;
    }

    #listado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}
